@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis';
  font-size: 50px;
  color: #01384f
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url('../images/Background.png');
  background-position: center;
}

#board {
  height: 100vh;
  min-height: 500px;
  width: 100vh;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/Board.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#board-top {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#cardCenter4 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-middle {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#board-left {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cardCenter1 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-left: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-center {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-center {
  width: 20vh;
}

#board-right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#cardCenter3 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-right: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-bottom {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#my-canvas {
  position: absolute;
}

#cardCenter2 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start {
  height: 100vh;
  width: 100vh;
  position: absolute;
  background: url('../images/Background.png');
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#screen {
  height: 100vh;
  width: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popMessage {
  height: 21.6vh;
  width: 20vh;
  background: url('../images/popMessageBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#message {
  font-size: 3.3vh;
  color: #a3b9c2;
  text-align: center;
  margin: 0
}

h3 {
  font-size: 1.8vh;
  color: #4c7282;
  opacity: 0.7;
}