@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis';
  font-size: 50px;
  color: #01384f
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: url('../images/Background.png');
  background-position: center;
}

h1 {
  font-size: 2.5vh;
  font-weight: bold;
  color: #a3b9c2;
}

h2 {
  margin: 0.9vh 0;
  font-size: 1.9vh;
  font-weight: 600;
  color: #a3b9c2;
}

h3 {
  font-size: 1.8vh;
  color: #4c7282;
  opacity: 0.7;
}

/*MENU*/

#menu {
  height: 100vh;
  width: 100vh;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu-top {
  height: 42vh;
  padding-bottom: 3vh;
  display: flex;
  align-items: flex-end;
  justify-content: center
}

#menu-bottom {
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center
}

.menu-home {
  flex-direction: row;
}

.menu-instructions {
  flex-direction: column;
}

.menu-selectHumanPlayers {
  display: flex;
  flex-direction: column;
}

.menu-selectComputerLevel {
  display: flex;
  flex-direction: column;
}

.menu-schema {
  flex-direction: column;
}

#logo-menu {
  width: 30vh;
  height: 30vh;
}

#instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center
}

#instructions-title {
  margin: 0.9vh;
  display: flex;
  align-items: center;
  justify-content: center
}

#specialCard-instruction {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

#specialCard-instruction-img {
  height: 7vh;
  width: 7vh;
  margin: 1vh 2vh 1vh 0
}

#menu-button {
  height: 6vh;
  width: 6vh;
  margin: 2vh 3vh;
  border: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#button-panel {
  display: flex;
  flex-direction: row;
}

#schema {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#board-schema {
  height: 30vh;
  width: 30vh;
  margin: 3vh 5vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#panel-optionsButtons {
  flex-direction: row;
  margin: 0 0 4vh 0
}

.instructions-button {
  background: url('../images/MenuInstructionsIcon.png');
}

.play-button {
  background: url('../images/MenuPlayIcon.png');
}

.back-button {
  background: url('../images/MenuBackIcon.png');
}

.oneHumanPlayers-button {
  background: url('../images/MenuOneHumanPlayerIcon.png');
}

.twoHumanPlayers-button {
  background: url('../images/MenuTwoHumanPlayersIcon.png');
}

.level1Computer-button {
  background: url('../images/MenuLevel1ComputerIcon.png');
}

.level2Computer-button {
  background: url('../images/MenuLevel2ComputerIcon.png');
}

.level3Computer-button {
  background: url('../images/MenuLevel3ComputerIcon.png');
}

#controls-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#keys-player {
  justify-content: center;
  margin: 0
}

#key {
  display: flex;
  align-items: center;
  margin: 1vh 0
}

#key-img {
  height: 5vh;
  width: 5vh;
  margin-right: 2vh
}

/*BOARD*/

#board {
  height: 100vh;
  width: 100vh;
  min-width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/Board.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#board-top {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#board-middle {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#board-left {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#board-center {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board-right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#board-bottom {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#logo-center {
  width: 20vh;
}

#cardCenter1 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-left: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardCenter2 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardCenter3 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-right: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cardCenter4 {
  background: url('../images/CardMark.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 20vh;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#my-canvas {
  position: absolute;
}

#start {
  height: 100vh;
  width: 100vh;
  position: absolute;
  background: url('../images/Background.png');
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#messageViewer {
  height: 100vh;
  width: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

#popMessage {
  height: 21.6vh;
  width: 20vh;
  background: url('../images/popMessageBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#imgWinner {
  height: 6.5vh;
  width: 6.5vh;
}

#message {
  font-size: 3.3vh;
  color: #a3b9c2;
  text-align: center;
  margin: 0
}